.my-header h2 { 
    display: inline;
  }
  .my-header span { 
    float: right;
  }

 


    .my-header h2 { 
        display: inline;
      }
      .my-header span { 
        float: right;
        margin-top: 4px;
      }